<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!-- import thymeleaf -->
<head th:replace="fragments/frags :: head">
  <div th:insert="fragments/frags :: navi"></div>
</head>
<body class="tablebg">
<div class="container my-2 tablebg paddingtitle">
  <h2 style="color:white">Vinyl</h2>

  <!--  <a th:href="@{/showAllBooks}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>-->

  <!-- VINYL -->
  <table class="table table-purple">
    <thead>
    <tr class="textwhite">
<!--      <th data-field="article_id">Article ID</th>-->
      <th data-field="price">Price</th>
      <th data-field="supplier_id">Supplier ID</th>
      <th data-field="title">Title</th>
      <th data-field="artist">Artist</th>
      <th data-field="vinyl_genre">Genre</th>
      <th>Quick Actions</th>

    </tr>
    </thead>
    <tbody class="textwhite">
    <tr th:each="vinyl : ${showvinyl}">

<!--      <td th:text="${vinyl.getArticleId()}"></td>-->
      <td th:text="${vinyl.getPrice()}"></td>
      <td th:text="${vinyl.getSupplierId()}"></td>
      <td th:text="${vinyl.getTitle()}"></td>
      <td th:text="${vinyl.getArtist()}"></td>
      <td th:text="${vinyl.getVinylGenre.getDisplay()}"></td>

<!--  TODO    <td> <a th:href="@{/editvinyl/{article_id}(article_id=${vinyl.getArticleId()})}" class="btn btn-secondary">Edit</a></td>-->
      <td> <a th:href="@{/deletevinyl/{article_id}(article_id=${vinyl.getArticleId()})}" class="btn btn-secondary">Delete</a></td>
    </tr>
    </tbody>
  </table>

</div>


<div th:insert="fragments/frags :: scripts"></div>

</body>

<div th:replace="fragments/frags :: footer"></div>

</html>